.text-trancate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.add-participant-btn {
    background-color: lightgreen;
}

.btn-primary {
    background-color: white;
    border-color: white;
}

.participant-list-item {
    line-height: 2.29;
    letter-spacing: 0.7px;
}

.participant-list-item-head {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.8px;
    color: black;
}

.sub-participant {
    background-color: #fafafa;
}

.zmdi {
    padding-top: 3px !important;
    margin-left: 0px !important;
}

.participant-list-item {
    cursor: pointer;
}

mat-icon {
    cursor: pointer;
}

.icon-not-paid,
.icon-remove-participant,
.icon-edit-participant {
    color: darkgray;
    cursor: pointer;
}

.icon-edit-participant-light {
    color: darkgray;
    cursor: pointer;
}

.icon-paid {
    color: lightgreen;
    cursor: default;
}

.no-participants {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

// Extra small devices
@media only screen and (min-width: 270px) {
    .participant-list-header-wrapper {
        margin: 0;
    }
    .action-icons {
        justify-content: flex-end;
    }
    .action-icons>* {
        margin: 0 10px 0 10px;
    }
    .action-icons mat-icon:first-child {
        margin-left: 0;
    }
    .action-icons mat-icon:last-child {
        margin-right: 0;
    }
    .participant-list-header-wrapper {
        border-top: 1px solid #dee2e6;
    }
    .participant-list-wrapper {
        border-bottom: 1px solid #dee2e6;
        padding: 20px 30px;
        
        .cancelled-color {
            color: lightcoral;
        }
    }
    .participant-list-item>* {
        padding: 1px 0;
    }
    .name {
        font-size: 20px !important;
        font-weight: bold !important;
        line-height: 1.42 !important;
        letter-spacing: 0.6px !important;
        color: black;
    }
}

// Small Devices, Tablets
@media only screen and (min-width: 576px) {
    .participant-list-header-wrapper {
        margin: 0;
    }
    .action-icons {
        justify-content: flex-end;
    }
    .action-icons>* {
        margin: 0 10px 0 10px;
    }
    .participant-list-header-wrapper {
        border-top: 1px solid #dee2e6;
    }
    .participant-list-wrapper {
        border-bottom: 1px solid #dee2e6;
        padding: 20px 30px;
    }
    .participant-list-item>* {
        padding: 10px 0;
    }
}

// Medium Devices, Desktops
@media only screen and (min-width: 768px) {
    .participant-list-header-wrapper {
        margin: 0;
    }
    .action-icons {
        justify-content: flex-end;
    }
    .action-icons>* {
        margin: 0 10px 0 10px;
    }
    .participant-list-header-wrapper {
        border-top: 1px solid #dee2e6;
    }
    .participant-list-wrapper {
        border-bottom: 1px solid #dee2e6;
        padding: 20px 30px;
    }
    .participant-list-item>* {
        padding: 10px 0;
    }
}

// Large Devices, Wide Screens
@media only screen and (min-width: 990px) {
    .participant-list-header-wrapper {
        border-top: none;
    }
    .participant-list-item>* {
        padding: 0;
    }
    .participant-list-wrapper {
        padding: 0;
    }
    .participant-list-item-head {
        padding: 0 0 20px 40px;
    }
    .additional-paddings {
        padding: 20px 20px 20px 40px;
    }
    .name {
        font-size: 14px !important;
    }
}

// Extra Large Devices, Phones
@media only screen and (min-width: 1200px) {
    .participant-list-header-wrapper {
        border-top: none;
    }
    .participant-list-item>* {
        padding: 0;
    }
    .participant-list-item-head {
        padding: 0 0 20px 40px;
    }
    .additional-paddings {
        padding: 20px 0 20px 40px;
    }
    .name {
        font-size: 14px !important;
    }
}