@import "../../helpers.scss";

.root {
    margin-top: 40px;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    height: 40px;
    width: 100%;

    background-color: white;

    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.42);

    > ul {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        height: 100%;
        list-style: none;

        > li:nth-child(2) {
            margin: 0 20px;
        }
    }
}

.container {
    position: inherit !important;

    margin-top: 60px;
}

.not-authorized {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 50px;
    height: 100%;
}
