@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import '../../helpers.scss';

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}

.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  // margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #4ecdc4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: #25e2d5;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

.login-form label {
  display: none;
}

// ===================

@include media-breakpoint-up(xs) {

  .login-page {
    width: inherit;
  }

  strong {
    color: red;
    font-weight: 500;
  }

  .form {
    margin: 0 auto;
    max-width: 250px;
    padding: 80px 0 110px 0;
    background-color: #2e3148;

    input {
      background: none;
      border-top: none;
      border-right: none;
      border-left: none;

      border-top: 1px solid #33354e;
      border-bottom: 1px solid #33354e;
      width: 100%;
      padding: 1.1em;
      color: #fff;
      outline: none;
      font-size: 0.9em;
      text-align: left;

      font-weight: 700;
    }

    input + span {
      color: red;
    }

    input::placeholder {
      color: white;
    }

    strong + div,
    div:nth-child(3) {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    h3 {
      position: absolute;
      top: 8%;
      left: 35%;
      color: white;
    }
  }
}
