@import "../../helpers.scss";

.page-not-found-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100%;

    p {
        font-size: 12rem;
    }

    p,
    a {
        color: $purple-color;
    }
}
