#backg {
    height: 100%;
    width: 100%;

    top: 0;
    position: fixed;

    background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-675105.jpg)
        center no-repeat;
    background-size: cover;
}
