@import 'node_modules/bootstrap/scss/bootstrap';

$purple-color: #673bb6;
$white-color: #fff;

a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

#root *,
#root *::before,
#root *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}
