@import "node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-up(xs) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}

$purple-color: #673bb6;
$white-color: #fff;

a {
    text-decoration: none;
}

.m-0 {
    margin: 0;
}

// ====== Margin TOP =====

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-20 {
    margin-top: 20px;
}

// ====== Margin RIGHT =====

.m-r-0 {
    margin-right: 0 !important;
}

// ====== Margin BOTTOM =====

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

// ====== Margin LEFT =====

.m-l-0 {
    margin-left: 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

// ====== Padding =====

.p-10 {
    padding: 10px;
}

// ==================

html,
body,
#root {
    height: 100%;
}

#root *,
#root *::before,
#root *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}
