@import "~bootstrap/dist/css/bootstrap";

$react-color-1: #190933;
$react-color-2: #665687;
$react-color-3: #b084cc;
$react-color-4: #acfcd9;
$react-color-5: #5dd9c1;

body {
    // background-color: $react-color-3;
}

.m-t-20 {
    margin-top: 20px;
}

.m-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

// Paddings

.p-10 {
    padding: 10px;
}
